modules = ["python-3.11"]
run = "run"

[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "libGL", "libGLU", "pkg-config", "qhull", "tcl", "tk"]

[deployment]
run = ["sh", "-c", "run"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41847844
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py"

[[ports]]
localPort = 8501
externalPort = 80
